<html>
<head>
    <title>Cadastrar Estudante</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Cadastrar Estudante!</h1>
<form class="form-cadastro" action="/estudantes" method="post">
    <label for="ipnNome"> Nome </label>
    <input type="text" name="nome" id="ipnNome" required> 
    <br>
    <label for="ipnEmail">Email</label>
    <input type="email" name="email" id="ipnEmail" required>
    <br>
    <label for="ipnSenha">Senha</label>
    <input type="password" name="senha" id="ipnSenha" required>
    <br>
    <input type="submit" value="Salvar">
    </form>
</body>
</html>

